[build]
  command = "npm run build"
  publish = "dist"

# Proxy API -> Azure (put this BEFORE the SPA fallback)
[[redirects]]
  from = "/api/*"
  to = "https://library-api-project1-gpefacc9g9g7dxgr.germanywestcentral-01.azurewebsites.net/api/:splat"
  status = 200
  force = true

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
